@page "/mangas/{id}/"
@using static Mangas
@using InputType = MudBlazor.InputType
@using Database
@inject ILocalStorageService localStorage
@inject IDatabase db

<MudText Typo="Typo.h3">@(manga.name ?? "Loading...")</MudText>

<div style="width: 100%; margin-top: 20px; display: grid; grid-template-columns: 1fr 2fr; margin-bottom: 10px">
    <img src="@manga.cover" style="width: 90%; box-shadow: 2px 4px 6px rgba(0,0,0,0.4)"/>
    <div>
        <MudText Typo="Typo.h5">Last read: @manga.lastread</MudText>
        <MudTextField Label="Base Url" Style="width: 70%" TextChanged="@BaseUrlChanged" @bind-Value="@manga.baseurl" InputType="InputType.Text" T="string"></MudTextField>
        @if (!volumeOK)
        {
            <MudAlert Style="margin-top:10px; width: 70%" Severity="Severity.Error">Volume parameter must be set!</MudAlert>
        }
        
        @if (!pageOK)
        {
            <MudAlert Style="margin-top:10px;width: 70%" Severity="Severity.Error">Page parameter must be set!</MudAlert>
        }
        <br/>
        <MudTextField Style="width: 70%" Label="Cover Url" TextChanged="@(()=>db.SaveManga(manga))" @bind-Value="@manga.cover" InputType="InputType.Text" T="string"></MudTextField>
        
        <MudExpansionPanels >
            <MudExpansionPanel Style="margin-top:10px; width: 70%">
                <TitleContent>
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                        <MudText><strong>Download</strong></MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    Panel Content
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</div>
<MudTooltip Text="To enable fast download, please download at least once." Placement="Placement.End" Delayed="1">
    <MudButton EndIcon="@Icons.Filled.FlashOn" Variant="Variant.Filled" Size="Size.Large" Disabled="@fastdownload" Color="Color.Primary">Fast Download</MudButton>
</MudTooltip>

@code{

    [Parameter]
    public string id { get; set; } = "";

    bool fastdownload = true;
    bool volumeOK = false;
    bool pageOK = false;

    public DataManga manga = new DataManga();

    async void BaseUrlChanged()
    {
        if (manga.baseurl.ToLower().Contains("[volume]"))
        {
            volumeOK = true;
            await InvokeAsync(StateHasChanged);
        }
        else volumeOK = false;
        if (manga.baseurl.ToLower().Contains("[page]"))
        {
            pageOK = true;
            await InvokeAsync(StateHasChanged);
        }
        else pageOK = false;

        db.SaveManga(manga);

    }

    //void CoverUrlChanged() => Save();
    

    protected override async void OnInitialized()
    {
        db.SetLocalStorage(localStorage);
        manga = await db.GetManga(id ?? "00000000000");
        await InvokeAsync(() => StateHasChanged());
        base.OnInitialized();
    }

}